<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 class="home-heading serif">
        Hone
        <span>in on </span>
        your path
      </h1>
      <hr>
      <p>
        Attentive acupuncture and
        <br />
        guided exploration of wellbeing
      </p>
      <a href="#" class="btn btn-outline btn-white btn-xl">Schedule <span>an appointment</span></a>
      <a href="#about" class="btn btn-outline btn-white btn-xl page-scroll">Learn <span>more</span></a>
    </div>
  </div>
</header>